{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "6",
          "browser": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "add-module-exports",
    "external-helpers",
    "transform-runtime"
  ]
}
