[access]
	inheritFrom = All-Projects
[project]
	description = KNoT Cloud WebSocket library for NodeJS and browser
[access "refs/*"]
	owner = group KNoT Maintainers
[access "refs/for/refs/*"]
	read = group KNoT Maintainers
	push = group KNoT Maintainers
	label-Code-Review = -2..+2 group KNoT Maintainers
	label-Verified = -1..+1 group KNoT Maintainers
	rebase = group KNoT Maintainers
	removeReviewer = group KNoT Maintainers
	submit = group KNoT Maintainers
[access "refs/heads/*"]
	read = group KNoT Maintainers
	create = group KNoT Maintainers
	push = +force group KNoT Maintainers
	pushMerge = group KNoT Maintainers
	label-Verified = -1..+1 group KNoT Developers
[access "refs/tags/*"]
	push = +force group KNoT Maintainers
[submit]
	action = rebase always
