[access]
	inheritFrom = All-Projects
[project]
	description = KNoT Cloud WebSocket library for NodeJS and browser
[access "refs/*"]
	owner = group user/Thiago Cardoso (figueredo)
[access "refs/for/refs/*"]
	read = group user/Thiago Cardoso (figueredo)
	push = group user/Thiago Cardoso (figueredo)
	label-Code-Review = -2..+2 group user/Thiago Cardoso (figueredo)
	label-Verified = -1..+1 group user/Thiago Cardoso (figueredo)
	rebase = group user/Thiago Cardoso (figueredo)
	removeReviewer = group user/Thiago Cardoso (figueredo)
	submit = group user/Thiago Cardoso (figueredo)
[access "refs/heads/*"]
	read = group user/Thiago Cardoso (figueredo)
	create = group user/Thiago Cardoso (figueredo)
	push = +force group user/Thiago Cardoso (figueredo)
	pushMerge = group user/Thiago Cardoso (figueredo)
[access "refs/tags/*"]
	push = group user/Thiago Cardoso (figueredo)
	push = +force group user/Thiago Cardoso (figueredo)
[submit]
	action = rebase always
